
/* .reveal .slides .pdf-page { */
/*     border: 1px solid silver; */
/* } */

.reveal section {
    font-family: Verdana;
    font-size: 30px;
    letter-spacing: -1px;
}

.reveal section.top {
    top: 15px !important;
    left: 15px !important;
}

.reveal section>img.cover {
    width: auto;
    height: 500px;
}

/*  */
/*  */
/* NAV */
/*  */
/*  */

ol.nav, div.nav {
    list-style:none;

    font-size: 23px;
    text-align: left;

    margin-bottom: 15px;
}

.code > ol.nav {
    color: white;
}

ol.nav li {
    display: inline;
}

ol.nav > li:nth-child(1):after {
    content:' / ';
}

/*  */
/*  */
/* COLUMNS */
/*  */
/*  */

div.container {
    margin-left: 50px;
}

div.container2 {
    margin-left: 50px;
    margin-right: 50px;
}

.left {
    float: left;
    width:50%;
}

.right {
    left:50%;
    float: right;
    text-align: left;
    width:50%;
}

/*  */
/*  */
/* TITLE */
/*  */
/*  */

#title {
    text-align: left;
    margin-left: 150px;
    margin-right: 100px;
}

#title h1 {
    font-size: 150px;
    letter-spacing: -10px;
    margin-left: -6px;
}

#title h1 #github {
    font-size: 20px;
    letter-spacing: -1px;
    color: silver;
    margin-left: -50px;
    margin-top: 10px;
    position: absolute;
}

#title #hero {
    font-size: 40px;
    letter-spacing: -2px;
    text-align: left;
}

#hero .hanging {
    margin-left: -50px;
}

#title h1, #title #hero {
    margin-bottom: 30px;
}

#title #author, #title #company {
    font-size: 22px;
}

/*  */
/*  */
/* DEF */
/*  */
/*  */

#def {
    text-align: left;
    margin-left: 100px;
    margin-right: 50px;

    font-size: 30px;
    letter-spacing: -2px;
    border-spacing: 5px;
}

#def .note {
    margin-top: 5px;
    font-size: 20px;
    letter-spacing: -1px;
    color: silver;
}

#def .box {
    border-style:outset;
    border-width: 2px;
}

#def .code {
    font-family: monospace;
}

#def #natasha {
    vertical-align: middle;
}

#def td {
    vertical-align: top;

    padding: 20px;
    margin: 10px
}


/*  */
/*  */
/* MEASURES */
/*  */
/*  */

#measures {
    margin-left: 30px;
}

#measures ul {
    list-style:none;

    font-size: 23px;
    text-align: left;

    margin-bottom: 30px;
}

#measures li {
    margin-bottom: 10px;
}

#measures .hanging {
    margin-left: -18px;
}

/*  */
/*  */
/* LINKS */
/*  */
/*  */

#links {
    text-align: left;
    margin-left: 30px;
}

#links ul {
    list-style:none;
    margin-bottom: 30px;
}

#links li {
    margin-left: 30px;
}

#links a, #links a:visited {
    color: steelblue;
    text-decoration: none;
}

/*  */
/*  */
/* MARKUP */
/*  */
/*  */

div.markup, td.markup {
    white-space: pre-wrap;
    text-align: left;

    font-size: 23px;
    line-height: 26px;
}

.reveal mark {
    display: inline-block;
    border-bottom: 2px solid;
    padding-bottom: 2px;
    background: none;
}

mark.a { border-color: #1f77b4; }
mark.b { border-color: #ff7f0e; }
mark.c { border-color: #2ca02c; }
mark.d { border-color: #d62728; }
mark.e { border-color: #9467bd; }

div.fact {
    white-space: pre-wrap;

    font-family: monospace;
    font-size: 20px;
}

/*  */
/*  */
/* GRAMMAR */
/*  */
/*  */

div.grammar {
    margin-top: 50px;
    margin-left: 50px;
    text-align: left;
    white-space: pre-wrap;
    font-family: monospace;
}

div.grammar .comment {
    color: silver;
}

div.grammar .no {
    color: silver;
    text-decoration: line-through;
}

/*  */
/*  */
/* CODE */
/*  */
/*  */

.hljs {
    background: black;
}

.reveal code {
    text-align: left;
    font-size: 20px;
    line-height: 23px;
}

/*  */
/*  */
/* LIB */
/*  */
/*  */

#lib {
    font-size: 23px;
    text-align: left;
}

#lib td, #lib th {
    padding: 10px;
}

#lib tr {
    border-bottom: 1px solid silver;
}

#lib .markup {
    white-space: normal;
}

#lib .code {
    font-family: monospace;
}

